# A requirements file used by our Travis CI/CD process
# to test and package the utilities. Refer to src/python/setup.py
# for the module's runtime requirements.

# For testing...
black == 22.3.0
coverage == 6.3.2
pylint == 2.13.5
pyroma
setuptools == 56.2.0
pre-commit == 2.18.1
PyYAML == 5.4.1
im-data-manager-job-decoder == 1.8.0

# In order to run 'python setup.py bdist_wheel'...
wheel == 0.36.2
