# A requirements file used by our Travis CI/CD process
# to test and package the utilities. Refer to src/python/setup.py
# for the module's runtime requirements.

# For testing...
coverage
pylint
pyroma
setuptools == 56.2.0
jsonpickle == 2.0.0

# In order to run 'python setup.py bdist_wheel'...
wheel == 0.36.2
